.newsletter {
    background-image: url(../images/footer-img.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    margin-top: 8rem;
    color: white;
    padding: 2.4rem 6rem;


    &__texts {
    }

    &__head {
        font-size: 1.7rem;
    }

    &__sub {
        font-size: 1.3rem;
        padding:.8rem 0 1.4rem;

    }

    &__subb {
        font-size: 1.3rem;
        padding:.8rem 0 1.5rem;


    }
}
.email{
    border: 1px solid white;
    width:34rem;
    height:4.5rem;
    border-radius: 2px;
    margin-right: .7rem;
    font-size: 1.4rem;
    padding-left: 2rem;

}
.send{
    border: 1px solid white;
    width:18rem;
    height:4.5rem;
    border-radius: 2px;
    background-color: transparent;
    color:white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    @include respond (tab-port){
        margin-top: 1rem;
      }
}
.checktext{
    padding:2rem 0;
    font-size: 1rem;
}
.checkbox{
    background-color: transparent !important;
    border: 1px solid white;
    width: 20px;
    height: 20px;

}